body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

.flyout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
input[type="text"] {
  background-color: lightsteelblue;
  outline: none;
  border: 0px solid;
}
.customise-icon {
  color: blue;
}
.header {
  padding: 15px 20px;
  border-bottom: 1px solid lightgrey;
  height: 3.5rem;
}

.header h4 {
  font-size: 20px;
  font-weight: 500;
}

.dashboard-header {
  padding: 0.9rem;
  border-bottom: 1px solid lightgrey;
}
.paa {
  padding-top: 7px;
}

.sidebar {
  border-right: 1px solid lightgrey;
  padding-right: 0px;
}

a {
  padding-left: 11px;
  padding-right: 11px;
}

.home-feature-box .fa {
  font-size: 6rem;
}

.home-feature-box span {
  display: block;
  color: #111;
  font-weight: bold;
  margin-top: 1.5rem;
}

.example-components-list li > a {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 8px;
  padding-bottom: 8px;
}

.example-components-list li:last-child > a {
  border-bottom: 0;
}

.example-components-list li > a .fa {
  color: rgba(0, 0, 0, 0.35);
  float: right;
}

.p0 {
  padding: 0px !important;
}

.m0 {
  margin: 0px !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.column {
  float: left;
  width: 28%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  left: 0;
  /* background-color: #111; */
}

.right {
  right: 0;
  /* background-color: red; */
}

.content {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  /* background-color: DodgerBlue; */
  width: 100%;
  height: 30%;
}

.genericCard {
  height: auto;
  margin: 16px 10px 10px 16px;
}

.card-title {
  padding: 1rem;
}

.genericCardHTag {
  font-size: 18px;
  color: #000;
}

.material-icons {
  vertical-align: middle;
  margin-right: 5px;
}

.genericCardHTagChild {
  font-size: 15px;
  color: #000;
}
.icons {
  width: 15px;
  height: 15px;
}

.border-bottom {
  border-bottom: 1px solid #eee;
  margin: 0px;
  padding: 0.8rem !important;
}

.iconsSize {
  font-size: 20px !important;
  margin-right: 8px;
}

.subtitle-span-child {
  margin-left: 26px;
  color: #616161;
}

.subtitle-span {
  margin-top: 10px;
  font-size: 15px;
  color: #000;
}

.bluetint {
  color: cornflowerblue;
}

.margin10 {
  margin: 10px;
}

.greenCircle {
  color: green;
}

.medium-text {
  color: #616161;
  font-size: 15px;
}

.small-text {
  font-size: 13px;
}

.fa-external-link-square {
  color: lightgray;
}

.medium-text-black {
  margin-top: 8px;
  color: #000;
  font-size: 15px;
}

.margin-left-4 {
  margin-left: 4px;
}

.sidebar-action {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 400;
}

.sidebar-action span {
  padding-left: 20px;
  font-size: 15px;
}

.sidebar-action:hover {
  color: blue;
  font-weight: 500;
  background: lightblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* LOGIN PAGE*/

.login-background {
  top: 0;
  left: 50%;
  width: 400px;
  height: 100%;
  border-left: 5px solid #c24d0b;
  border-right: 5px solid #c24d0b;
  background-color: #fffaf2;
  margin-left: -205px;
  position: fixed;
  z-index: 0;
}

.login-background img {
  margin: 15px 0;
}

#content {
  top: 0;
  right: 0;
  bottom: 0;
  left: 81px;
  background: white;
  overflow: auto;
  position: absolute;
}

#content .container {
  position: relative;
}
.login {
  width: 100%;
  height: 100%;
  position: relative;
}

.login-container {
  left: 50%;
  width: 320px;
  margin-top: 25%;
  margin-left: -160px;
  padding-bottom: 50px;
  font-size: 12px;
  overflow: visible;
  position: absolute;
  z-index: 2;
}

.login-container p {
  text-align: center;
}

.login-box {
  margin-top: 20px;
  color: white;
  -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.3);
  box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.3);
  clear: both;
}

.login-box input[type="password"] {
  display: inline-block;
  vertical-align: middle;
}

.login-box input[type="text"] {
  display: inline-block;
  vertical-align: middle;
}

.login-box label {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  margin: 0;
}

.login-box h3 {
  background: linear-gradient(to bottom, #293344 1%, #212938 54%);
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600;
}

.login-input-container {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  position: relative;
  background: white;
}

.login-input-container input[type="text"],
.login-input-container input[type="password"],
.login-input-container input[type="email"] {
  top: 0;
  left: 0;
  width: 210px;
  width: 65%;
  height: 100%;
  border: 0;
  padding: 0 0 0 3%;
  margin: 0 0 0 32%;
  background: none;
  font-size: 13px;
  position: absolute;
}

.login-container label {
  color: lightslategray;
  font-weight: bold;
}

.login-input-container.password {
  background: #eee;
}

.login-actions-container {
  padding: 20px 20px 0;
  overflow: hidden;
  position: relative;
}

.login-actions-container .rememberme,
.login-actions-container .forgotpasswd {
  float: left;
  width: 50%;
}

.login-actions-container input,
.login-actions-container label {
  vertical-align: middle;
}

.login-actions-container input[type="checkbox"] {
  vertical-align: inherit;
  margin: 0px 6px;
}

.login-box .btn {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 12px;
}

.orangebtn {
  background-image: -webkit-linear-gradient(top, #ec7a34, #e85d26);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e85d26;
  background-repeat: repeat-x;
}

.no-accout {
  margin: 20px !important;
  opacity: 0.5;
  text-align: center !important;
}
